.butonSwitch {
  display    : flex;
  align-items: center;

  column-gap: 20px;

  margin-bottom: 20px;
}

.rightCorner {
  display        : flex;
  align-items    : center;
  justify-content: end;
  width          : 100%;
}

.rightCorner>div {
  cursor: pointer;
}

.header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
  }